body{
	background: : #f6f6f6;
}

html {
	background: : #f6f6f6;
}

#painting {  
  height: 400px;
  width:  400px;
  background: #fff4db;
  position: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow:;
}
#top {
  height:290px;
}

#bigbox .red {
  height:290px;
}
#topleftcolumn. {
  .mediumbox
}
#divider2 {

}

#toprow {
  
}